 <div class="navbar navbar-default navbar-static-top bsnavbar"  style="margin-bottom:0px">
     
     <div class="navbar-header" >
  
<h4 class="navbar-brand" style="padding: 5px 30px;">WDB APPLICATION</h4>
  </div>

</div>