<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1/wdb_ca</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">sintra30!</property>
    <mapping class="WrenchDb.DAL.Entities.WdbChangescript"/>
    <mapping class="WrenchDb.DAL.Entities.WdbDatabasetype"/>
    <mapping class="WrenchDb.DAL.Entities.WdbEntity"/>
    <mapping class="WrenchDb.DAL.Entities.WdbProperty"/>
    <mapping class="WrenchDb.DAL.Entities.WdbServertype"/>
    <mapping class="WrenchDb.DAL.Entities.WdbSitemap"/>
    <mapping class="WrenchDb.DAL.Entities.WdbSettings"/>
    <mapping class="WrenchDb.DAL.Entities.WdbPropertyType"/>
    <mapping class="WrenchDb.DAL.Entities.WbdProperty"/>
    <mapping class="WrenchDb.DAL.Entities.WdbApplication"/>
    <mapping resource="WrenchDb/DAL/Entities/WdbProperty.hbm.xml"/>
    <mapping resource="WrenchDb/DAL/Entities/WdbServertype.hbm.xml"/>
    <mapping resource="WrenchDb/DAL/Entities/WdbPropertyType.hbm.xml"/>
    <mapping resource="WrenchDb/DAL/Entities/WdbApplication.hbm.xml"/>
    <mapping resource="WrenchDb/DAL/Entities/WdbDatabasetype.hbm.xml"/>
    <mapping resource="WrenchDb/DAL/Entities/WdbSitemap.hbm.xml"/>
    <mapping resource="WrenchDb/DAL/Entities/WdbChangescript.hbm.xml"/>
    <mapping resource="WrenchDb/DAL/Entities/WdbEntity.hbm.xml"/>
    <mapping resource="WrenchDb/DAL/Entities/WdbSettings.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping class="WrenchDb.DAL.Entities.WdbChangescript"/>
    <mapping class="WrenchDb.DAL.Entities.WdbDatabasetype"/>
    <mapping class="WrenchDb.DAL.Entities.WdbEntity"/>
    <mapping class="WrenchDb.DAL.Entities.WdbServertype"/>
    <mapping class="WrenchDb.DAL.Entities.WdbProperty"/>
    <mapping class="WrenchDb.DAL.Entities.WdbSitemap"/>
    <mapping class="WrenchDb.DAL.Entities.WdbSettings"/>
    <mapping class="WrenchDb.DAL.Entities.WdbPropertyType"/>
    <mapping class="WrenchDb.DAL.Entities.WbdProperty"/>
    <mapping class="WrenchDb.DAL.Entities.WdbApplication"/>
    <mapping class="WrenchDb.DAL.Entities.WdbRelease"/>
    <mapping class="WrenchDb.DAL.Entities.WdbChangescript"/>
    <mapping class="WrenchDb.DAL.Entities.WdbDatabasetype"/>
    <mapping class="WrenchDb.DAL.Entities.WdbEntity"/>
    <mapping class="WrenchDb.DAL.Entities.WdbServertype"/>
    <mapping class="WrenchDb.DAL.Entities.WdbProperty"/>
    <mapping class="WrenchDb.DAL.Entities.WdbSitemap"/>
    <mapping class="WrenchDb.DAL.Entities.WdbSettings"/>
    <mapping class="WrenchDb.DAL.Entities.WdbPropertyType"/>
    <mapping class="WrenchDb.DAL.Entities.WbdProperty"/>
    <mapping class="WrenchDb.DAL.Entities.WdbApplication"/>
    <mapping class="WrenchDb.DAL.Entities.WdbRelease"/>
    <mapping class="WrenchDb.DAL.Entities.WdbChangescript"/>
    <mapping class="WrenchDb.DAL.Entities.WdbDatabasetype"/>
    <mapping class="WrenchDb.DAL.Entities.WdbEntity"/>
    <mapping class="WrenchDb.DAL.Entities.WdbProperty"/>
    <mapping class="WrenchDb.DAL.Entities.WdbServertype"/>
    <mapping class="WrenchDb.DAL.Entities.WdbPropertyType"/>
    <mapping class="WrenchDb.DAL.Entities.WdbSitemap"/>
    <mapping class="WrenchDb.DAL.Entities.WdbSettings"/>
    <mapping class="WrenchDb.DAL.Entities.WbdProperty"/>
    <mapping class="WrenchDb.DAL.Entities.WdbApplication"/>
    <mapping class="WrenchDb.DAL.Entities.WdbRelease"/>
    <mapping class="WrenchDb.DAL.Entities.WdbChangescript"/>
    <mapping class="WrenchDb.DAL.Entities.WdbDatabasetype"/>
    <mapping class="WrenchDb.DAL.Entities.WdbEntity"/>
    <mapping class="WrenchDb.DAL.Entities.WdbProperty"/>
    <mapping class="WrenchDb.DAL.Entities.WdbServertype"/>
    <mapping class="WrenchDb.DAL.Entities.WdbPropertyType"/>
    <mapping class="WrenchDb.DAL.Entities.WdbSitemap"/>
    <mapping class="WrenchDb.DAL.Entities.WdbSettings"/>
    <mapping class="WrenchDb.DAL.Entities.WbdProperty"/>
    <mapping class="WrenchDb.DAL.Entities.WdbApplication"/>
  </session-factory>
</hibernate-configuration>
