
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
       
      <h1>500</h1> 
      <h4> Something gone wrong!</h4>

    <table class="table table-bordered">
           #set ($map = $Model.getProperties() )
        #foreach ($mapEntry in $map.entrySet())
           <tr><td><h4>$mapEntry.key</h4></td>
            <td><pre>$mapEntry.value</pre></td></tr>
        #end

   </table>

    </body>
</html>
