<h1>Release Info</h1>
#set ($release=$Model.getProperties().get("release"))


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
  <table class="table">
    <tr>
        <td>Nome</td>
        <td>$release.getWdbReleaseId()</td>
    </tr>

    <tr>
        <td>Memocode</td>
        <td>$release.getReleaseMemocode()</td>
    </tr>
     <tr>
        <td>Release</td>
        <td>$release.getReleaseVersion()</td>
    </tr>
    <tr>
        <td>Database Version</td>
        <td>$release.getDatabaseVersion()</td>
    </tr>
    
  </table>
</div>